<section class="search section">
  <div class="container">
    <%= render 'search' %>
  </div>
</section>
<% if @user %>
  <section class="results section">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <p class="title is-4">
            Search results for <em class="has-text-info"><%= @query %></em>...
          </p>
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="http://farm<%= @user.iconfarm %>.staticflickr.com/<%= @user.iconserver %>/buddyicons/<%= @user.nsid %>.jpg" alt="Flickr buddyicon" class="is-rounded">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4"><%= @user.realname %></p>
              <p class="subtitle is-6"><%= @user.username %> | <a href="<%= @user.profileurl %>">View on flickr</a></p>
            </div>
          </div>
          <div class="gallery">
            <% @photos.each do |photo| %>
              <img src="https://live.staticflickr.com/<%= photo.server %>/<%= photo.id %>_<%= photo.secret %>_n.jpg" alt="<%= photo.owner %> <%= photo.id %>">
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
<% else %>
  <section class="noresults section">
    <div class="container">
      <div class="columns">
        <div class="column is-full">
          <p class="title is-4">
            Whoops! We couldn't find a user matching <em class="has-text-info"><%= @query %></em>...
          </p>
          <div class="content">
            Please double check that you enter a proper Flickr user id.
          </div>
        </div>
      </div>
    </div>
  </section>
<% end %>
